.barra {
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 8px 16px; /* Padding reducido */
    width: 26%; /* Ancho fijo al 26% de la pantalla */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
@supports (backdrop-filter: blur(10px)) {
    .panel, .barra {
        background: rgba(255, 255, 255, 0.62);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}
.boton {
    background-color: rgba(0, 123, 255, 0);
    color: #393939;
    border: none;
    border-radius: 20px;
    padding: 8px 12px; /* Padding reducido */
    margin: 0 3px; /* Margen reducido */
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    font-weight: normal;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-size: 14px; /* Tamaño de fuente reducido */
}

/* Estilo para el SVG (símbolo ⌵ personalizado) */
.dropdownSymbol {
    margin-left: 6px; /* Margen reducido */
    display: inline-block;
    transform: translateY(5px); /* Ajuste de posición vertical */
}

/* Ajustar tamaño del SVG */
.dropdownSymbol {
    width: 16px; /* Ancho reducido */
    height: 16px; /* Alto reducido */
}

/* Estilo para "únete" */
.highlight {
    font-weight: normal;
    background: #fa0000;
    border-radius: 25px;
    color: #ffffff; /* Color blanco */
    font-size: 12px; /* Tamaño de fuente */
    margin-left: 6px; /* Espaciado natural */
    padding: 0px 7px; /* Añadir padding para hacer el fondo más ancho */
    letter-spacing: 0.5px; /* Ligero aumento de ancho */
}

/* Panel desplegable */
.panel {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 25px 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Mostrado cuando showPanel = true */
    flex-direction: column;
    padding: 10px 0;
    min-width: 100%; /* Ocupa el 100% del ancho del botón "Soluciones" */
    z-index: 1001;
}

/* Botones dentro del panel */
.panel .boton {
    background-color: transparent;
    color: #393939;
    padding: 8px 20px;
    margin: 0;
    border-radius: 0;
    text-align: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px; /* Tamaño de fuente reducido */
}