.barra {
    position: fixed; /* Fija la barra en la pantalla */
    top: 20px; /* Distancia desde la parte superior */
    left: 50%; /* Centra la barra horizontalmente */
    transform: translateX(-50%); /* Ajusta el centrado */
    display: flex;
    justify-content: center; /* Centra los botones dentro de la barra */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.68); /* Color de fondo */
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.boton {
    background-color: rgba(0, 123, 255, 0); /* Color de fondo del botón */
    color: #393939; /* Color del texto */
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px;
    margin: 0 5px; /* Espacio entre botones */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

.boton:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse */
    color: white; /* Cambia el color del texto al pasar el mouse */
}