.ContenedorPadre{
    width: 100vw;
    height: 400px;
    display: flex;
    background: #231f20;
    flex-direction: column;
    justify-content: space-evenly; /* Centra vertical */
    align-items: center;     /* Centra horizontal */
}
.Titulo{
    text-align: center;
    max-width: 80%;
}

.Titulo h3{
    color: var(--color-texto-blanco);
    font-size: 40px !important;
}
.boton{
    background: var(--color-rojo-general);
    color: var(--color-texto-blanco);
    border: var(--color-texto-blanco) 2px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Centra vertical */
    align-items: center;     /* Centra horizontal */

    font-size: 20px;
    width: 300px;
    height: 40px;
    text-align: center;
}
.boton:hover{
    background: var(--color-texto-blanco);
    color: var(--color-rojo-general);
    border: var(--color-rojo-general) 2px solid;
    border-radius: 20px;

}


@media (max-width: 1200px) {
    .ContenedorPadre{
        height: 300px;
    }
    .Titulo  h3{
        font-size: 30px !important;
    }
    .boton{
        border: white 2px solid;
        border-radius: 20px;

        font-size: 16px;
        width: 300px;
        height: 40px;
    }
}


@media (max-width: 800px) {
    .ContenedorPadre{
        height: 300px;
    }
    .Titulo h3{
        font-size: 24px !important;
    }
    .boton{
        border: white 2px solid;
        border-radius: 20px;

        font-size: 14px;
        width: 250px;
        height: 40px;
    }
}


@media (max-width: 600px) {
    .ContenedorPadre{
        height: 300px;
    }
    .Titulo h3{
        font-size: 20px !important;
    }
    .boton{
        border: white 2px solid;
        border-radius: 20px;

        font-size: 14px;
        width: 250px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    .boton{
        border: white 2px solid;
        border-radius: 20px;

        font-size: 14px;
        width: 200px;
        height: 40px;
    }
}