.marqueeContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marqueeContent {
    display: inline-block;
    white-space: nowrap;
    animation: marqueeAnimation 10s linear infinite;
}

.marqueeItem {
    display: inline-block;
    margin-right: 2%; /* Espacio constante entre las imágenes */
    width: 10%; /* Ancho de las imágenes */
    height: auto; /* Alto automático para mantener la proporción */
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-60%); /* Desplazamos el 100% del ancho del contenido */
    }
}


.marqueeWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.leftFade, .rightFade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7.8%; /* Ancho del rectángulo */
    z-index: 2;
    pointer-events: none; /* Para que no interfiera con interacciones */
}

.leftFade {
    left: 0;
    background: #939393;
}

.rightFade {
    right: 0;
    background: #939393;
}