.marqueeContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marqueeContent {
    display: inline-block;
    white-space: nowrap;
    animation: marqueeAnimation 10s linear infinite;
}

.marqueeItem {
    display: inline-block;
    margin-right: 2%; /* Espacio constante entre las imágenes */
    width: 10%; /* Ancho de las imágenes */
    height: auto; /* Alto automático para mantener la proporción */
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-60%); /* Desplazamos el 100% del ancho del contenido */
    }
}