.marqueeWrapper {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.marqueeContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marqueeContent {
    display: inline-block;
    white-space: nowrap;
    animation: marqueeAnimation 10s linear infinite;
}

.marqueeItemContainer {
    display: inline-block;
    margin-right: 2%; /* Espacio constante entre las imágenes */
    width: 10%; /* Ancho de las imágenes */
    text-align: center; /* Centrar el contenido */
    vertical-align: top; /* Alinear los elementos en la parte superior */
}

.marqueeItem {
    width: 100%; /* Ajustar al ancho del contenedor */
    height: auto; /* Alto automático para mantener la proporción */
}

.subtitleContainer {
    margin-top: 8px; /* Espacio entre la imagen y los subtítulos */
    white-space: normal; /* Permitir saltos de línea */
}

.subtitle1 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.subtitle2 {
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin: 0;
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-84%); /* Desplazamos el 50% del ancho del contenido     (72 con 6)(12 x cada imagen) */
    }
}

.leftFade, .rightFade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7.8%; /* Ancho del rectángulo */
    z-index: 2;
    pointer-events: none; /* Para que no interfiera con interacciones */
    background: var(--color-fondo);
}

.leftFade {
    left: 0;
}

.rightFade {
    right: 0;
}