.textContainer {
    text-align: center;
    padding: 20px;
    width: 75vw;
    margin: 0 auto;
}

.texto {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-texto-negro-cambio2);
    line-height: 1.3;
}

.resaltado {
    color: var(--color-rojo-general);
    font-weight: bold;
}
@media (max-width: 1000px) {
    .texto {
        font-size: 22px;
    }
}
/* Responsive para pantallas más pequeñas */
@media (max-width: 768px) {
    .texto {
        font-size: 20px;
    }
}
