.textContainer {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.texto {
    font-size: 36px;
    font-weight: 400;
    color: #333;
    line-height: 1.3;
}

.resaltado {
    color: #007bff; /* Azul */
    font-weight: bold;
}

/* Responsive para pantallas más pequeñas */
@media (max-width: 768px) {
    .texto {
        font-size: 28px;
    }
}
