.contenedor {
    position: relative; /* Posiciona el contenedor de manera relativa */
    width: 70vw; /* Ancho del contenedor */
    text-align: left; /* Alineación del texto a la izquierda */
    left: 7.5vw; /* Ajuste de posición horizontal */
}

.titulo {

    font-size: clamp(24px, 2.25vw, 40px); /* Tamaño de fuente adaptable */
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-rojo-general);
}

.subtitulo {
    font-weight: normal;
    font-size: clamp(24px, 1vw, 40px);
    color: var(--color-general-gris);
}